
<div class="grid">
	<div class="row">
		<div class="span12">
			<div class="hero-unit">
				<%= image_tag "profile_pic.jpg", class: 'place-right' %>
				<h1> Mark Joel Chavez </h1>
				<p> Ruby on Rails Developer </p>

				<div class="top20">
					<a target="_blank" class="button bg-color-blue fg-color-white" href="http://www.facebook.com/mrkjlchvz">Facebook</a> <br />
					<a target="_blank" class="button bg-color-orange fg-color-white" href="http://www.twitter.com/mrkjlchvz">Twitter</a> <br />
					<a target="_blank" class="button bg-color-green fg-color-white" href="http://ph.linkedin.com/pub/mark-joel-chavez/33/2ab/5aa/">Linkedin</a> <br />
					<a target="_blank" class="button bg-color-red fg-color-white" href="http://github.com/mrkjlchvz">Github</a>
				</div>
			</div>
		</div>

		<div class="span3">
			
		</div>
	</div>
</div>

<div class="app-bar">
	<span class="label success place-right"> Powered by Metro UI </span>
</div>