
<div class="grid">
	<div class="row">
		<div class="span12">
			<div class="hero-unit">
				<%= image_tag "profile_pic.jpg", class: 'place-right' %>
				<h1> Mark Joel Chavez </h1>
				<p> JAVA/Ruby on Rails Developer </p>

				<div class="top20">
					<a target="_blank" class="button bg-color-blue fg-color-white" href="http://www.facebook.com/mrkjlchvz">Facebook</a> 
					<a target="_blank" class="button bg-color-orange fg-color-white" href="http://www.twitter.com/mrkjlchvz">Twitter</a> <br />
					<a target="_blank" class="button bg-color-green fg-color-white" href="http://ph.linkedin.com/pub/mark-joel-chavez/33/2ab/5aa/">Linkedin</a> 
					<a target="_blank" class="button bg-color-red fg-color-white" href="http://github.com/mrkjlchvz">Github</a>	
				</div>
			</div>
		</div>
	</div>
</div>

<div class="grid">
	<div class="row">
		<div class="span4 bg-color-red padding5">
			<h2 class="fg-color-white"> About </h2>
		</div>

		<div class="span4 bg-color-green padding5">
			<h2 class="fg-color-white"> Portfolio </h2>
		</div>

		<div class="span4 bg-color-blue padding5">
			<h2 class="fg-color-white"> Contact </h2>
		</div>
	</div>
</div>

<div class="grid">
	<div class="row">
		<div class="span4 padding5">
			<p class="justify"> 
				Ahoy there. It's Mark right here. I am an experienced web developer working for a medium-sized 
				telco company here at Philippines. My expertise are developing highly dynamic web applications 
				such as <abbr title="Content Management Systems">CMS</abbr>, E-Commerce and alike. I am also 
				working for <span class="label important">Quickhits</span>, a startup based here in PH, which also specializes on web development 
				and outsourcing.
			</p>
		</div>

		<div class="span4 padding5">
			Coming soon.
		</div>

		<div class="span4 padding5">
			<p class="justify"> 
				Let's connect. Add me up on facebook, twitter, linkedin or github as displayed above.
			</p>

			<br />

			Below are the emails I am currently using:
			<ul>
				<li> los_populares@yahoo.com </li>
				<li> joelchavez999@gmail.com </li>
			</ul>
		</div>
	</div>
</div>

<div class="grid">
	<div class="row">
		<div class="span2 offset10">
			&copy; Mark Chavez
		</div>
	</div>
</div>