<!DOCTYPE html>
<html>
<head>
  <title>Mark &copy;</title>
  <meta name="description" content="mark chavez's personal website" />
  <meta name="keywords" content="mark chavez, rails, portfolio, joel chavez, quickhits, los_populares, los populares, joelchavez, web applications" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="metrouicss">

	<div class="page">
		<%= yield %>
	</div>

</body>
</html>
